doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        |
        title WPM - Edit playlist
        |
        link(href="css/body.css", rel="stylesheet")
        |
        link(href="css/header.css", rel="stylesheet")
        |
        link(href="css/edit.css", rel="stylesheet")
        |
        link(href="css/boxGroup.css", rel="stylesheet")
        |
        link(href="css/buttonGroup.css", rel="stylesheet")
        |
        link(href="css/inPlaylist.css", rel="stylesheet")
        |
        link(href="css/existedFilesList.css", rel="stylesheet")
        |
        link(href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css", rel="stylesheet")
        |
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        |
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        |
        script(type="text/javascript", src="scripts/buttonActions.js")
        |
        script.
            var currentElementIndex;
            var selectedRecordInPlaylist = {};
            var filesInPlaylist = [];
            $( function() {
                $( "#filesInPlaylist" ).selectable({
                    selected: function () {
                        var resultOfFunct = $( ".ui-selected", this ).each(function () {
                            var x = $( "#filesInPlaylist li" ).index(this);
                            selectedRecordInPlaylist.indexOfItem = x;
                        });
                    }
                });
                $( "#existedMediaFiles").selectable({
                    selected: function () {
                        currentElementIndex = $( ".ui-selected", this).each(function () {
                            return $( "#existedMediaFiles li" ).index(this).value;
                        })
                    }
                });
            } );
    body.pageBody
        .fullBody
            #pageHeader
                #logoLabel WPM
                |
                #navBar
                    ul
                        li
                            a(href="#list")
                                .menuElement
                                    img.menuIcon(src="img/ic_list_white_48dp_2x.png")
                                    |                                 List of playlists
                        |
                        li
                            a(href="#new")
                                .menuElement
                                    img.menuIcon(src="img/ic_create_new_folder_white_48dp_2x.png")
                                    |                                 Create new playlist
                        |
                        li
                            a(href="#edit")
                                .menuElement
                                    img.menuIcon(src="img/ic_edit_white_48dp_2x.png")
                                    |                                 Edit playlist
                        |
                        li
                            a(href="#delete")
                                .menuElement
                                    img.menuIcon(src="img/ic_delete_forever_white_48dp_2x.png")
                                    |                                 Delete playlist
            |
            #pageFooter
                #editlistLabel
                    | Edit playlist
                |
                #selectPlaylist
                    #selectFormElements
                        #comboBoxElement
                            select#selectPlaylistComboBox.selectPlaylistCombobox
                                option.selectPlaylistOption TestPlaylist1.m3u8
                                |
                                option.selectPlaylistOption TestPlaylist2.m3u8
                                |
                                option.selectPlaylistOption TestPlaylist3.m3u8
                                |
                                option.selectPlaylistOption TestPlaylist4.m3u8
                        |
                        #loadButtonElement
                            button#load.loadButton(name="load") Load...
                        |
                        #loadedFilenameLabelElement
                            | Loaded Playlist File:
                        |
                        #playlistFilenameElement
                            | TestPlaylist1.m3u8
                |
                #boxGroupElement
                    #inPlaylist
                        ol#filesInPlaylist.selectableList
                    |
                    #buttonGroupElement
                        #buttons
                            a(href="#", onclick="addElementToPlaylist(currentElementIndex, filesInPlaylist)")
                                #addButton.divButtons
                                    img.buttonIcon(src="img/ic_add_circle_white_24dp_2x.png")
                                    |
                                    .buttonLabel Add
                            |
                            a(href="#", onclick="deleteElementFromPlaylist(selectedRecordInPlaylist, filesInPlaylist)")
                                #delButton.divButtons
                                    img.buttonIcon(src="img/ic_delete_forever_white_48dp_2x.png")
                                    |
                                    .buttonLabel Delete
                            |
                            a(href="#", onclick="bringToUp(selectedRecordInPlaylist,filesInPlaylist)")
                                #upButton.divButtons
                                    img.buttonIcon(src="img/ic_arrow_upward_white_24dp_2x.png")
                                    |
                                    .buttonLabel Up
                            |
                            a(href="#", onclick="bringToDown(selectedRecordInPlaylist, filesInPlaylist)")
                                #downButton.divButtons
                                    img.buttonIcon(src="img/ic_arrow_downward_white_24dp_2x.png")
                                    |
                                    .buttonLabel Down
                            |
                            a(href="#save")
                                #saveButton.divButtons
                                    img.buttonIcon(src="img/ic_save_white_24dp_2x.png")
                                    |
                                    .buttonLabel Save
                    |
                    #existedFilesListElement
                        ul#existedMediaFiles.selectableMediaList
                            li.ui-widget-content First media file.mp4
                            |
                            li.ui-widget-content Second media file.mp4
                            |
                            li.ui-widget-content Third media file.mp4
                            |
                            li.ui-widget-content Fourth media file.mp4
                            |
                            li.ui-widget-content Fifth media file.mp4
                            |
                            li.ui-widget-content Sixth media file.mp4
                            |
                            li.ui-widget-content Sevensth media file.mp4
                            |
                            li.ui-widget-content Eighth media file.mp4
                            |
                            li.ui-widget-content Ninth media file.mp4
                            |
                            li.ui-widget-content Tenth media file.mp4
