doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        |
        title Wowza Playlist Maker - Authorization
        |
        link(href="css/body.css", rel="stylesheet")
        |
        link(href="css/wpmBase.css", rel="stylesheet")
        |
        link(href="css/auth.css", rel="stylesheet")
    body.pageBody
        #fullBody
            #pageHeader
                #headerLabel
                    | WPM - Wowza Playlist Maker
            |
            #pageFooter
                .authForm
                    .authLabel
                        .formLabel AUTHORIZTION FORM
                    |
                    .formElement
                        form
                            .usernameField
                                label(for="username") Username:  
                                |
                                input#username(type="text", name="username")
                            |
                            .passwordField
                                label(for="pass") Password:  
                                |
                                input#pass(type="password", name="pass")
                            |
                            .buttonset
                                input(type="button", value="Login")
                                |
                                input(type="reset")
