doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title WPM - List playlist files
        link(href="css/body.css", rel="stylesheet")
        link(href="css/header.css", rel="stylesheet")
        link(href="css/listview.css", rel="stylesheet")
        link(href="css/createDialog.css", rel="stylesheet")
        link(href="css/deleteDialog.css", rel="stylesheet")
        link(href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css", rel="stylesheet")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(type="text/javascript", src="scripts/buttonActions.js")
        script(type="text/javascript", src="scripts/createPlaylist.js")
        script(type="text/javascript", src="scripts/deletePlaylist.js")
    body.pageBody
        .fullBody
            #pageHeader
                #logoLabel WPM
                #navBar
                    ul
                        li
                            a(href="/list")
                                .menuElement
                                    img.menuIcon(src="img/ic_list_white_48dp_2x.png")
                                    |List of playlists
                        li
                            a(href="#" onclick="openDialog()")
                                .menuElement
                                    img.menuIcon(src="img/ic_create_new_folder_white_48dp_2x.png")
                                    |Create new playlist
                        li
                            a(href="/edit")
                                .menuElement
                                    img.menuIcon(src="img/ic_edit_white_48dp_2x.png")
                                    |Edit playlist
                        li
                            a(href="#" onclick="openDeleteDialog()")
                                .menuElement
                                    img.menuIcon(src="img/ic_delete_forever_white_48dp_2x.png")
                                    |Delete playlist
            #pageFooter
                #playlistLabel
                    | Registered playlists
                #playlistsListView
                    .listviewItem
                        .filename
                            | TestPlaylist1.m3u8
                        .fileDate
                            | 18-11-1977
                    .listviewItem
                        .filename
                            | TestPlaylist2.m3u8
                        .fileDate
                            | 18-11-1977
                    .listviewItem
                        .filename
                            | TestPlaylist3.m3u8
                        .fileDate
                            | 18-11-1977
                    .listviewItem
                        .filename
                            | TestPlaylist4.m3u8
                        .fileDate
                            | 18-11-1977
