#alertBox{
    display: block;
    position: fixed;
    z-index: 1;
    width: 520px;
    height: 240px;
    overflow: auto;
    background-color: white;
    border-color: #1b6d85;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
}

#dialogHeader{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #1b6d85;
}

#dialogLabel{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 120px;
    height: 15px;

    font-family: Arial;
    font-size: medium;
    font-weight: bold;
    color: white;

    text-align: left;
}

#closeButton{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: darkred;
    font-family: Arial;
    font-size: small;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 2px;
}

#dialogMessage{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    top: 25px;
    width: 98%;
    height: 65%;

    font-family: Arial;
    font-size: x-large;
}