.authForm{
    width: 400px;
    height: 200px;
    border: solid 2px #1b6d85;
}

.authLabel{
    position: relative;
    top: 0;
    left: 0;
    background-color: #1b6d85;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.formLabel{
    font-family: Arial;
    font-weight: bolder;
    color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formElement{
    width: 100%;
    height: 85%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.usernameField{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.passwordField{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttonset{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label{
    color: #1b6d85;
    float: left;
}

label:after{
    content: "";
}

input{
    float: right;
}

button{
    width: 50%;
    height: 50px;
}