#boxGroupElement{
    width: 91%;
    height: 700px;
    background-color: #eaeeff;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}

#inPlaylist{
    width: 44%;
    height: 92%;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: gainsboro;

    background-color: #f7f7f7;
    overflow-y: scroll;

    display: inline-block;
    margin-top: 15px;
    margin-right: 2px;
    margin-left: 15px;

    padding: 10px;
}

#buttonGroupElement{
    width: 7%;
    height: 92%;
    display: inline-block;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

#existedFilesListElement{
    width: 44%;
    height: 92%;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: gainsboro;

    background-color: #f7f7f7;
    overflow-y: scroll;

    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 2px;

    padding: 10px;
}