#buttons{
    position: relative;
    width: 100%;

    display: table;
}

.divButtons{
    position: relative;
    width: 80%;
    height: 35px;

    display: table-cell;
    vertical-align: middle;

    border-style: solid;
    border-color: #1b6d85;
    border-width: 1px;
    border-radius: 3px;


    background: #969696;
    background: -moz-linear-gradient(top, #d3d3d3 0%, #969696 50%, #d3d3d3 100%);
    background: -webkit-linear-gradient(top, #d3d3d3 0%,#969696 50%,#d3d3d3 100%);
    background: linear-gradient(to bottom, #d3d3d3 0%,#969696 50%,#d3d3d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3',
    endColorstr='#d3d3d3',GradientType=0 );

    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.divButtons:hover{
    background: brown;
}

.buttonLabel{
    margin-left: 35px;
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
    color: white;
}

#buttons a{
    text-decoration: none;
}

.buttonIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0;
}