#createPlaylistDialog{
    display: block;
    position: fixed;
    z-index: 1;
    width: 520px;
    height: 240px;
    overflow: auto;

    background-color: white;
    border-color: #1b6d85;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
}

#cdHeader{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: #1b6d85;
}

#cdLabel{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 240px;
    height: 15px;

    font-family: Arial;
    font-size: medium;
    font-weight: bold;
    color: white;

    text-align: left;
}

#cdBody{
    position: relative;
    top:15%;
    width: 97%;
    height: 65%;
    left: 0;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#cdInputLabel{
    position: relative;

    font-family: Arial;
    font-size: xx-large;
    font-weight: bold;
    font-variant: all-small-caps;
    color: #1b6d85;
}

#cdInputFieldDiv{
    position: relative;
}

#cdInputField{
    position: relative;
    width: 80%;
    height: 35px;
    margin: 20px;
    padding: 2px;
    box-sizing: border-box;

    border: none;
    border-radius: 5px;
    background-color: #eaeeff;

    font-family: Arial;
    font-size: large;
}

#cdButtonBar{
    position: relative;
    width: 97%;
    height: 10%;
    right: 0;
    text-align: right;
}

#cdButtonBar a{
    text-decoration: none;
}

#cdCreateButton, #cdCancelButton{
    position: relative;
    width: 100px;
    height: 18px;
    border-color: #1b6d85;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #1b6d85;

    color: white;
    font-family: Arial;
    font-size: small;
    font-weight: bold;
    text-align: center;

    margin: 5px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#cdCreateButton:hover, #cdCancelButton:hover{
    background-color: darkred;
}

#cdCreateButton{
    display: inline-block;
}

#cdCancelButton{
    display: inline-block;
}