#pageFooter{
    position: relative;
    width: 100%;
    height: 800px;
}

#editlistLabel{
    font-family: Arial;
    font-size: xx-large;
    font-weight: bolder;
    color: #122b40;
    text-align: center;
    margin: 20px;
}

#selectPlaylist{
    width: 90%;
    height: 50px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #761c19;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#selectFormElements{
    display: inline-block;
}

#comboBoxElement{
    height: 97%;
    display: inline-block;
}

#selectPlaylistComboBox{
    position: relative;
    width: 350px;
    height: 35px;
    margin: 10px;
    padding: 2px;
    top: 0px;
    box-sizing: border-box;

    border: none;
    border-radius: 6px;
    background-color: #1b6d85;

    font-family: Arial;
    font-size: large;
    font-weight: bold;
    color: white;
}

.selectPlaylistOption{
    font-family: Arial;
    font-size: large;
    font-weight: bold;
    color: white;

    margin-top: 2px;
    margin-bottom: 2px;

    background-color: #1b6d85;
}

#loadButtonElement{
    margin-left: 5px;
    display: inline-block;
}

#loadButtonElement a{
    text-decoration: none;
}

#loadButton{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    height: 30px;
    align-content: center;

    border-radius: 8px;
    border-style: solid;
    border-color: #1b6d85;
    background-color: #1b6d85;

    font-family: Arial;
    font-size: large;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-right: 8px;
    margin-left: 15px;

    vertical-align: middle;
}

#loadButton:hover{
    border-color: darkred;
    background-color: darkred;
}

#loadedFilenameLabelElement{
    width: 240px;
    margin-left: 35px;
    font-family: Arial;
    font-weight: bold;
    font-size: x-large;
    display: inline-block;
}

#playlistFilenameElement{
    display: inline-block;
    width: 450px;
    font-family: Arial;
    font-size: x-large;
    font-style: italic;
    color: crimson;
}

#playButtonDiv{
    position: relative;
    display: inline-block;
    width: 150px;
    align-content: center;
}

#playButtonDiv a{
    text-decoration: none;
}

#playButton{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 130px;
    height: 30px;
    align-content: center;

    border-radius: 8px;
    border-style: solid;
    border-color: #1b6d85;
    background-color: #1b6d85;

    font-family: Arial;
    font-size: large;
    font-weight: bold;
    color: white;
    text-align: right;
    padding-right: 8px;
    margin-left: 15px;

    vertical-align: middle;
}

#playButton .playButtonIcon{
    position: absolute;
    width: 28px;
    height: 28px;
    padding: 0px;
    left: 0px;
    top: 0px;
}

#playButton:hover{
    border-color: darkred;
    background-color: darkred;
}

#infoButtonDiv{
    position: relative;
    display: inline-block;
    width: 200px;
    align-content: center;
}

#infoButtonDiv a{
    text-decoration: none;
}

#infoButton{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 180px;
    height: 30px;
    align-content: center;

    border-radius: 8px;
    border-style: solid;
    border-color: #1b6d85;
    background-color: #1b6d85;

    font-family: Arial;
    font-size: large;
    font-weight: bold;
    color: white;
    text-align: right;
    padding-right: 8px;
    margin-left: 15px;

    vertical-align: middle
}

#infoButton .infoButtonIcon{
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0px;
    left: 2px;
    top: 2px;
}

#infoButton:hover{
    border-color: darkred;
    background-color: darkred;
}