#existedFilesListElement{}

#existedMediaFiles .ui-selecting{
    background: #bde4fe;
}

#existedMediaFiles .ui-selected{
    background: #7fadf3;
}

#existedMediaFiles{
    margin: 7px;
    margin-left: 3px;
    padding: 3px;
    width: 98%;
}

#existedFilesListElement ul{
    background-color: transparent;
}

#existedMediaFiles li{
    margin: 1px;
    margin-left: 0px;
    padding: 10px;
    font-family: Arial;
    font-size: large;
    height: 65px;
    width: 97%;
}

#existedMediaFiles .li-container{

}

#existedMediaFiles .li-container .filename{
    font-family: Arial;
    font-size: large;
    color: darkred;
}

#existedMediaFiles .li-container .filename:before{
    content: "\21d2";
    margin-right: 10px;
    color: white;
    font-size: large;
    background-color: darkgreen;
    padding-left: 4px;
    padding-right: 4px;
}

#existedMediaFiles .li-container .fileInfo{
    display: inline-block;
    margin-top: 18px;
}

#existedMediaFiles .li-container .fileInfo .hasBitrateVariantLabel{
    display: inline-block;
    font-variant: small-caps;
    font-size: large;
    margin-right: 10px;
}

#existedMediaFiles .li-container .fileInfo .hasBitrateVariant{
    display: inline-block;
    width: 100px;
    height: 15px;
    font-family: Arial;
    font-size: medium;
    color: darkmagenta;
    border-radius: 5px;
    border-color: black;
    background-color: darkseagreen;
    padding: 6px;
}

#existedMediaFiles .li-container .fileInfo .hasProblemsLabel{
    display: inline-block;
    font-variant: small-caps;
    font-size: large;
    margin-left: 55px;
    margin-right: 10px;
}

#existedMediaFiles .li-container .fileInfo .hasnotProblems{
    display: inline-block;
    width: 15px;
    height: 15px;
    font-family: Arial;
    font-size: medium;
    color: white;
    border-radius: 15px;
    border-color: black;
    background-color: darkseagreen;
    padding: 6px;
    text-align: center;
}

#existedMediaFiles .li-container .fileInfo .hasProblems{
    display: inline-block;
    width: 15px;
    height: 15px;
    font-family: Arial;
    font-size: medium;
    color: white;
    border-radius: 15px;
    border-color: black;
    background-color: darkred;
    padding: 6px;
    text-align: center;
}