#pageHeader{
    position: relative;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background: #122b40;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logoLabel{
    position: absolute;
    color: white;
    font-family: Arial;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.menuIcon{
    width: 25px;
    height: 25px;
    padding: 0;
    margin-right: 10px;
}

.menuElement{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navBar{
    margin-left: 300px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #122b40;
}

li{
    float: left;
    font-family: Arial;
    font-size: large;
    font-weight: bolder;
    border-right: 1px solid #c7ddef;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
}

li a:hover{
    background-color: #fed22f;
}

li:last-child{
    border-right: none;
}