#inPlaylist{}

#filesInPlaylist .ui-selecting {
    background: #bde4fe;
}

#filesInPlaylist .ui-selected {
    background: #7fadf3;
}

#filesInPlaylist {
    list-style-type: decimal;
    margin: 10px;
    margin-left: 15px;
    padding: 3px;
    width: 98%;
}

#filesInPlaylist li {
    margin: 1px;
    margin-left: 10px;
    padding: 10px;
    font-family: Arial;
    font-size: large;
    height: 65px;
    width: 95%;
}

#filesInPlaylist .li-container{

}

#filesInPlaylist .li-container .filename{
    font-family: Arial;
    font-size: large;
    color: darkred;
}

#filesInPlaylist .li-container .filename:before{
    content: "\21d2";
    margin-right: 10px;
    color: white;
    font-size: large;
    background-color: darkgreen;
    padding-left: 4px;
    padding-right: 4px;
}

#filesInPlaylist .li-container .fileInfo{
    display: inline-block;
    margin-top: 18px;
}

#filesInPlaylist .li-container .fileInfo .hasBitrateVariantLabel{
    display: inline-block;
    font-variant: small-caps;
    font-size: large;
    margin-right: 10px;
}

#filesInPlaylist .li-container .fileInfo .hasBitrateVariant{
    display: inline-block;
    width: 100px;
    height: 15px;
    font-family: Arial;
    font-size: medium;
    color: darkmagenta;
    border-radius: 5px;
    border-color: black;
    background-color: darkseagreen;
    padding: 6px;
}

#filesInPlaylist .li-container .fileInfo .hasProblemsLabel{
    display: inline-block;
    font-variant: small-caps;
    font-size: large;
    margin-left: 55px;
    margin-right: 10px;
}

#filesInPlaylist .li-container .fileInfo .hasnotProblems{
    display: inline-block;
    width: 15px;
    height: 15px;
    font-family: Arial;
    font-size: medium;
    color: white;
    border-radius: 15px;
    border-color: black;
    background-color: darkseagreen;
    padding: 6px;
    text-align: center;
}

#filesInPlaylist .li-container .fileInfo .hasProblems{
    display: inline-block;
    width: 15px;
    height: 15px;
    font-family: Arial;
    font-size: medium;
    color: white;
    border-radius: 15px;
    border-color: black;
    background-color: darkred;
    padding: 6px;
    text-align: center;
}