#pageFooter{
    position: relative;
    width: 100%;
    height: 800px;
}

#playlistLabel{
    font-family: Arial;
    font-size: xx-large;
    font-weight: bolder;
    color: #122b40;
    text-align: center;
    margin: 30px;
}

#playlistsListView{
    width: 70%;
    height: 700px;
    bottom: 0px;
    overflow-y: scroll;
    border-style: solid;
    border-width: 2px;
    border-color: #1b6d85;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 30px;
    margin: 0 auto;
}

.listviewItem{
    background-color: #CCCCCC;
    padding: 10px;
    padding-left: 25px;
    margin: 2px;
    border-radius: 5px;
}

.filename{
    position: static;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
    color: #1b6d85;
    display: inline-block;
    width: 30%;
}

.fileDate{
    position: static;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
    color: #761c19;
    display: inline-block;
    width: 65%;
}