#fullBody{
    position: relative;
    width: 100%;
    height: 900px;
}

#pageHeader{
    position: absolute;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background: #122b40;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headerLabel{
    position: absolute;
    color: white;
    font-family: Arial;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

#pageFooter{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: inherit;
    justify-content: center;
}