doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title WPM - List playlist files
        link(href="css/body.css", rel="stylesheet")
        link(href="css/header.css", rel="stylesheet")
        link(href="css/listview.css", rel="stylesheet")
        link(href="css/alertDialog.css", rel="stylesheet")
        link(href="css/createDialog.css", rel="stylesheet")
        link(href="css/deleteDialog.css", rel="stylesheet")
        link(href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css", rel="stylesheet")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script.
            var playlistsJSONtext = "#{playlists}";
            var messageObject = "#{messageObject}";

            var currentElementIndex;
            var selectedRecordInPlaylist = {};
            var filesInPlaylist = [];

            $(function () {
                $("#filesInPlaylist").selectable({
                    selected: function () {
                        var resultOfFunct = $(".ui-selected", this).each(function () {
                            var x = $("#filesInPlaylist li").index(this);
                            selectedRecordInPlaylist.indexOfItem = x;
                        });
                    }
                });
                $("#existedMediaFiles").selectable({
                    selected: function () {
                        currentElementIndex = $(".ui-selected", this).each(function () {
                            return $("#existedMediaFiles li").index(this).value;
                        })
                    }
                });
            });
        script(type="text/javascript", src="scripts/buttonActions.js")
        script(type="text/javascript", src="scripts/createPlaylist.js")
        script(type="text/javascript", src="scripts/deletePlaylist.js")
        script(type="text/javascript", src="scripts/loadActions.js")
    body.pageBody(onload="loadDynamicData()")
        .fullBody
            #pageHeader
                #logoLabel WPM
                #navBar
                    ul
                        li
                            a(href="/list")
                                .menuElement
                                    img.menuIcon(src="img/ic_list_white_48dp_2x.png")
                                    | List of playlists
                        li
                            a(href="#" onclick="openDialog()")
                                .menuElement
                                    img.menuIcon(src="img/ic_create_new_folder_white_48dp_2x.png")
                                    | Create new playlist
                        li
                            a(href="/edit")
                                .menuElement
                                    img.menuIcon(src="img/ic_edit_white_48dp_2x.png")
                                    | Edit playlist
                        li
                            a(href="#" onclick="openDeleteDialog(playlistsJSONtext)")
                                .menuElement
                                    img.menuIcon(src="img/ic_delete_forever_white_48dp_2x.png")
                                    | Delete playlist
            #pageFooter
                #playlistLabel
                    | Registered playlists
                #playlistsListView
